<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruixun.tracking.dao.TrackingWaterMapper">

 <!--   <select id="find" resultType="java.util.Map" parameterType="java.util.Map">
 m
    </select>-->
 <select id="findTablesInfo" resultType="java.util.List" parameterType="java.util.List">
          select * from tracking_water
<!--</select><select id="findTablesInfo" resultType="java.util.Map" parameterType="java.util.List">
        select
            table_id,
          SUM(bet_money) AS sum_bet_money,
          SUM(wash_code_amount) AS sum_wash_code_amount
        FROM
          tracking_water
          LEFT JOIN tracking_water_details
            ON tracking_water.water_id = tracking_water_details.water_id
            AND tracking_water.water_id IN #{water_ids}
        GROUP BY table_id
</select>-->
 </select>

    <resultMap id="trackingUserMap" type="com.ruixun.tracking.entity.dto.TrackingWaterDto">
        <result property="waterId" column="water_id"/>
        <result  property="tableId" column="table_id"/>
        <result  property="gameType" column="game_type"/>
        <result  property="profit" column="profit"/>
        <result  property="result" column="result"/>
        <collection property="trackingWaterDetails" ofType="com.ruixun.tracking.entity.TrackingWaterDetails" >
            <result property="betMoney" column="bet_money"/>
    </collection>
    </resultMap>

    <select id="findRealTimeLimit" resultMap="trackingUserMap">
        /*select water_id,table_id,game_type,game_type,profit,bet_money from
         tracking_water order by end_time desc limit 5*/
           SELECT * FROM
         tracking_water AS tw  JOIN tracking_water_details AS twd ON twd.water_id=tw.water_id
    </select>
</mapper>
